:root {
  /* Variables */
  --main-color-green: #2e3c16; /*PSU color or PARQE color? */
  --main-color-white: white;
  --main-color-light-green: #4caf50;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color-green);
  font-family: Georgia, "Times New Roman", Times, serif;
}

/********** Universal nav bar **********/
.nav-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  background-color: var(--main-color-white);
}

.nav-container img {
  margin-left: 20px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--main-color-green);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 450;
}

nav ul li a:hover {
  background-color: #e4e4e4;
}

.message {
  text-align: center;
  color: white;
  background-color: #4caf50;
  font-size: 25px;
}

/********** Printer Page **********/
.printer-filament-container {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  padding: 0.5em;
  background-color: var(--main-color-white);
  border-radius: 10px;
}

.printer-container,
.filament-container {
  flex: 1;
  padding: 1em;
  margin: 1em;
}

.printer-container h2,
.filament-container h2 {
  color: var(--main-color-green);
  text-align: center;
}

.printer-container ul {
  list-style-type: none;
  padding: 0;
}

.printer-container li {
  background-color: #f0f0f0;
  margin: 20px 0;
  padding: 10px;
  border-radius: 15px;
}

.printer-container li h3,
.printer-container li p {
  margin: 5px 0;
}

/********** Decided to have a universal set of buttons based on their action **********/
.primary-btn,
.secondary-btn,
.danger-btn,
.info-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0.25em 1em 1em;
  font-size: 1em;
  width: 175px;
  height: 2.5em;
}

.primary-btn {
  background-color: var(--main-color-light-green);
  border: 1px solid black;
}

.secondary-btn,
.add-btn {
  background-color: var(--main-color-white);
  border: 1px solid black;
}

.danger-btn {
  background-color: red;
  border: 1px solid black;
}

.info-btn {
  background-color: orange;
  border: 1px solid black;
}

.primary-btn a,
.danger-btn a,
.info-btn a {
  color: var(--main-color-white);
  text-decoration: none;
}

.secondary-btn a {
  color: var(--main-color-light-green);
  text-decoration: none;
}

/********** Custom styled buttons **********/
.custom-btn {
  margin: 1em 0 1em 0;
}

.add-btn {
  margin: 1em 0 5em 2em;
  font-size: 1em;
}

.add-btn a {
  color: black;
}
/********** Queue View **********/
.job-queue-container {
  margin: 2em;
  padding: 2em;
  background-color: var(--main-color-white);
  border-radius: 10px;
}

.job-queue-container h2 {
  text-align: center;
  color: var(--main-color-green);
}

/********** NOTE: This styling applies to all tables (e.g. Queue Table & Filament Table) **********/
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--main-color-white);
  margin-bottom: 1em;
}

table thead tr {
  background-color: var(--main-color-light-green);
  color: var(--main-color-white);
}

table thead th,
table tbody td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 1em;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #dbdbdb;
}

table tbody tr td:first-child,
table tbody tr td:nth-child(2) {
  font-weight: bold;
}

table tbody td[data-status="Error"] {
  background-color: #f75d59;
}

table tbody td[data-status="RHI"] {
  background-color: #dcdcdc;
}

table tbody td[data-status="Pending"] {
  background-color: #faf884;
}

/********** Printer Status **********/
.green {
  background-color: #386641;
}
.green-ready {
  background-color: green;
}

.orange {
  background-color: #E36414;
}

.red {
  background-color: #B20D30;
}

.grey {
  background-color: grey;
}

.status-container {
  margin: 2em;
  padding: 2em;
  background-color: var(--main-color-white);
  color: var(--main-color-green);
  border-radius: 10px;
  text-align: center;
}

.printer-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 10px 0;
}

.printer {
  flex: 1;
  border-radius: 5px;
  padding: 45px 0;
  color: var(--main-color-white);
  font-weight: bold;
}

.make-ready,
.job-info,
.printer-info,
.info {
  text-align: left;
  margin-left: 10px;
}

.jobs-container {
  margin: 2em;
  padding: 2em;
  background-color: var(--main-color-white);
  border-radius: 10px;
  color: var(--main-color-green);
}

.jobs-container h2 {
  color: var(--main-color-green);
  font-weight: 550;
  margin-bottom: 15px;
  text-align: center;
}

.jobs-container table {
  width: 100%;
  border-collapse: collapse;
}

.jobs-container th,
.jobs-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.jobs-container th {
  background-color: var(--main-color-green);
  color: var(--main-color-white);
}

.issue {
  color: red;
}

/********** Configure Printer **********/
.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--main-color-white);
  max-width: 60%;
}

.config-container h2 {
  color: var(--main-color-green);
  font-weight: 550;
  margin-bottom: 2em;
}

.form-printer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Creates two columns: one for labels, one for inputs/selects */
  gap: 20px;
  align-items: center;
}

.form-printer label {
  grid-column: 1; 
  justify-self: start; 
  font-weight: bold;
}

.form-printer input,
.form-printer select {
  grid-column: 2; 
  width: 100%; 
  padding: 10px;
  box-sizing: border-box; 
}

/* There are contrasting errors for buttons, more explained in the PR review */
.form-printer
.button-container {
	
  grid-column: 1 / -1; /* Span across all columns*/ 
  display: flex;
  justify-content: space-between; 
}

/********** Quality of life changes **********/
.white-text {
  color: white;
}

input:focus {
  outline-color: green;
  outline-style: solid;
}

.icons {
  text-decoration: none;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-color-light-green);
  font-size: 2em;
  margin: 0 1em;
  cursor: pointer;
}

.icons i:hover {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icons-red {
  color: red;
}
/********** Popup **********/
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
      0,
      0,
      0,
      0.4
  );
  display: none;
}
.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 30%;
  font-weight: bolder;
}
.popup-content button {
  display: block;
  margin: 0 auto;
}
.show {
  display: block;
}
