{% extends "layout.html" %} {% block content %}
<div class="config-container">
  <h2>Add Printer</h2>
  <!-- We may have to implement a fieldset here for structure -->
  <form class="form-items" method="POST" action="/add_printer">
    <label for="printer-id">Printer ID:</label>
    <input id="printer-id" name="printer-id" type="text" />
    <br />
    <label for="printer-port">Printer Port:</label>
    <input id="printer-port" name="printer-port" type="number" />
    <br />
    <label for="printer-api">Printer API key:</label>
    <input id="printer-api" name="printer-API" type="text" />
    <br />
    <label for="filament-id">Filament Type:</label>
    <select id="filament-id" name="filament-id">
      {% for filament in settings.settings.filaments %}
      <option value="{{ filament }}">{{ filament }}</option>
      {% endfor %}
    </select>
    <br />
    <label for="nozzle-size">Nozzle Size:</label>
    <select id="nozzle-size" name="nozzle-size">
      {% for size in settings.settings.nozzleSizes %}
      <option value="{{ size }}">{{ size }} mm</option>
      {% endfor %}
    </select>
    <br />
    <button id="config-btn" type="submit" value="submit">Add Printer</button>
  </form>
</div>
{% endblock %}
