{% extends "layout.html" %} {% block content %}
<div class="printer-filament-container">
  <div class="printer-container">
    <h2>Printer Information</h2>
    <ul>
      {% for printer in printers.printers %}
      <li>
        <h3>Printer #{{ printer.id }}</h3>
        <p>Port: {{ printer.port }}</p>
        <p>Filament Color: {{ printer.filamentColor }}</p>
        <p>Nozzle Size: {{ printer.nozzleDiameter }}</p>
        <p>Nozzle Diameter: {{ printer.nozzleDiameter }}</p>
          <a class="icons" href="{{ url_for('configure') }}?printerid={{ printer.id }}">
              <i class="fa-solid fa-gear"></i>
          </a>
          <a href="" class="icons">
              <i class="fa-solid fa-pencil"></i>
          </a>
      </li>
      {% endfor %}
    </ul>
    <button class="primary-btn add-btn">
      <a href="{{ url_for('add_printer') }}">+ Add Printer</a>
    </button>
  </div>
  <!-- The table already has styling properties from the job_queue table -->
  <div class="filament-container">
    <h2>Filament Inventory</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Color</th>
          <th>Type</th>
          <th>Manufacture</th>
          <th>Spool Count</th>
        </tr>
      </thead>
      <tbody>
        {% for filament in filaments.filaments %}
        <tr>
          <td>{{ filament.id }}</td>
          <td>{{ filament.color }}</td>
          <td>{{ filament.type }}</td>
          <td>{{ filament.manufacture }}</td>
          <td>{{ filament.spool_cnt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      <a href="{{ url_for('add_filament') }}" class="icons">
     <i class="fa-solid fa-plus"></i>
      </a>
      <a href="" class="icons icons-red">
     <i class="fa-solid fa-minus"></i>
      </a>
  </div>
</div>
{% endblock %}